<div class="w-100" style="margin-top: 100px;">
    <div class="pg-footer  bg-black text-white d-flex align-items-center justify-content-center">
      <div class="row w-100 d-flex align-items-center justify-content-center">
        <div class="default-width">
            <p style="font-size: 20px;" class="mb-3">Support</p>
            <p class="mb-1" >Egypt</p>
            <p class="mb-1" >TeamBlink&#64;gmail.com</p>
        </div>
        <div class="default-width">
            <p style="font-size: 20px;" class="mb-3">Account</p>
            <a class="mb-1" href="#" class="default-anchor">My Account</a>
            <a class="mb-1" href="#" class="default-anchor" >Login / Register</a>
            <a class="mb-1" href="#" class="default-anchor" >Cart</a>
            <a class="mb-1" href="#" class="default-anchor" >Whishlist</a>
        </div>
        <div class="default-width">
            <p style="font-size: 20px;" class="mb-3">Download App</p>
            <img src="assets/images/Frame 719.png" alt="">
            <div class="row mt-2">
                <i class="col-md-2 fa-brands fa-facebook"></i>
                <i class="col-md-2 fa-brands fa-twitter"></i>
                <i class="col-md-2 fa-brands fa-instagram"></i>
                <i class="col-md-2 fa-brands fa-linkedin"></i>
            </div>
        </div>
      </div>
    </div>
</div>
<style>
    .default-anchor:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .default-anchor{
        display: block;
        text-decoration: none;
        color: white;

    }
    .default-width{
        width: 25%;
        height: 200px;
        font-weight: 600;
        font-size: 16px;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }
    .pg-footer{
        height: 300px;
    }
</style>