.navbar{
    background-color: rgb(209, 209, 209) !important;
    transition: top 0.3s ease-in-out;
    
}

.hidden-navbar {
    top: -75px; /* Adjust based on navbar height */
    position: fixed;
}

.right-icons a:hover{
    color: rgb(96, 96, 96) !important;
}
input{
    font-size: 13px !important;
}