.wishlist-badge{
    position: absolute;
    top: 16%;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
  }
  .cart-badge{
    position: absolute;
    top: 3%;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
  }
  .discount-badge{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    display: flex;

  }


  .product-title p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
  }

  .product-title {
    width: 90%;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
  }

  .product-image {
    width: 90%;
    height: 180px;
    background-color: rgb(241, 241, 241);
  }

  .product-card {
    width: 250px;
    margin-bottom: 10px;
  }


  .product-title:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .product-rating {
    color: orange;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
  }
  .product-review{
    width: 10px;
  }
  @media screen and (max-width: 768px) {

  }