<div class="navbar-web border-bottom border-1 d-flex align-items-center justify-content-start">
    <!-- Site Logo -->
    <div class="col-md-2 d-flex align-items-center justify-content-end">
        <img src="assets/images/BLINCKO.png" style="width: 30%;">
    </div>
    <div class="col-md-6">

    </div>
    <!-- Right Div -->
     <div class="col-md-4 h-100 gap-1 d-flex align-items-center justify-content-start">
        <!-- Search -->
         <div class="col-md-6 search-box d-flex align-items-center justify-content-start">
            <form class="d-flex  align-items-center justify-content-center">
                <button type="submit" class="search-button default-bg">
                    <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
                </button>
                <input type="text" class="ms-1 search-input" placeholder="Search Products..">
            </form>
         </div>
         <!-- User Accounts -->
          <div class="col-md-5 d-flex align-items-center justify-content-center"></div>
     </div>
</div>

<style>
    .search-input{
        font-weight: 700;
        font-size: 17px;
        border: none;
        outline: none;
        width: 90%;
        height: 100%;
    }
    .search-button{
        border: none;
        height: 45px;
        width: 60px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .search-box{
        height: 45px;
        border-radius: 2px;
        border: 1px solid #da4446;
    }
    .navbar-web{
        height: 70px;
    }
</style>

