.app-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-logo {
    width: 150px;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: scale(1.5); }
    10% { transform: scale(1); }
    20% { transform: scale(1.5); }
    30% { transform: scale(1); }
    40% { transform: scale(1.5); }
    50% { transform: scale(1); }
    60% { transform: scale(1.5); }
    70% { transform: scale(1); }
    80% { transform: scale(1.5); }
    90% { transform: scale(1); }
    100% { transform: scale(1.5); }


  }
  