<section class="max-vh-100">
  <div class="containr2">
    <div class="container3">
      <div class="row d-flex">
        <div class="col-md-6">
          <div>
            <img src="assets/images/register.png" alt="Reset Image" class="img-fluid h-75" />
          </div>
        </div>

        <div class="col-md-6 px-5 d-flex align-items-center">
          <div class="px-5 mx-4">
            <p class="title mt-2 mb-3">Forget Password </p>
            <p class="fw-normal fst-italic text-muted">
              Please, enter your email that you used to create account<br>
              so we can send you a code for resetting your password
            </p>

             
            <form [formGroup]="resetForm" (ngSubmit)="onReset()">
              <div class="mb-2">
                <input
                  id="email"
                  type="email"
                  formControlName="email"
                  class="custom-input"
                  placeholder="Enter your email"
                  autocomplete="email"
                />
              </div>

               
              <div *ngIf="msgerror" class="text-danger mt-3">
                <p>{{ msgerror }}</p>
              </div>
               
              <button
                type="submit"
                [disabled]="isLoading"
                class="btn broderR2 btn-danger mt-4 mx-auto d-block text-white w-75 py-2 rounded-2"
              >
                Send Code
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin ms-2"></i>
              </button>

            

              <div class="text-center mt-3">
                <a [routerLink]="['/login']" class="btn btn-outline-danger bg-white text-danger px-4 py-2 rounded-2 w-75">
                  Back to Login?
                </a>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
